body{
    background-color: rgb(246, 225, 197);
    background-image: URL("SMZ.JPG");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: scroll;
    background-position:initial;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
input {
    padding: 15px;
    width: 300px;
    border: none;
    margin: 4px;
    border-radius: 10px;
}
.radio {
    padding: 15px;
    margin: 0px;
    width: 20px;

}
.container {
    background-color:rgb(92, 246, 246);
    backdrop-filter: blur (10px);
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    width: 450px;
}
.label {
    float: left;
    border-rightS: 430px;
}
button {
    padding: 10px;
    width: 325px;
    border-radius: 10px;
    border-color: rgb(236, 203, 126);
    cursor: pointer;
    margin: 8px;
}
.inputs_label {
    float: left;
    margin-left: 65px;
}
.single, .married, .divorse {
    float: left;
}
.Remember {
    float: left;
    text-align: left;
    cursor: pointer;
    width: 20px;
    margin: 0;
    padding: 15px;
}
h1 {
    
}
.body1 {
    backgroud-image: url("image2.jpg");
}
span {
    float: left;
    margin-left: 65px;
}
button:hover {
    background-color: ;
}